*{
    margin: 0;
    padding: 0;
    font-family: 'Antic Slab', serif;
}
.header ul{
    list-style: none;
    display: inline;
}
.header a{
    text-decoration: none;
    flex-direction: column;
    color: 	rgb(79, 79, 79);
    padding: 10px;

}
.header{
    background-color: white;
    text-align: center;
    padding: 18px;
    list-style: square;
    font-size: 18px;
}
.icon img{
    height: 60px;
    position: absolute;
    padding-left: 20px;
}
.titulli{
    font-size: 25px;
    font-family: 'Andika New Basic', sans-serif;
    }
.titulli2{
    font-family: 'Andika New Basic', sans-serif;
}
.titulli3{
    font-family: 'Andika New Basic', sans-serif;
    line-height: 25px;
}
.description{
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 80px; 
    padding-left: 250px; 

}
.description img{
    float: right;
    clear: right;
    margin-top: -30%;
    padding-right: 180px;
}
.upper-container{
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.upper-container-item{
    flex-basis: 50px;
    width: 50%;

}

.upper-container-item:nth-child(2){
display: flex;

align-items: center;
}
.upper-container-item:last-child{
flex-grow: 1;
width: 100%;
display: flex;
flex-direction: row ;
justify-content: space-around;
align-items: center;

}
.post{
    flex-basis: 200px;
    height: 50%;
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.post img{
    height: 350px;
    width: 350px;
}
.post-item{
    margin: 5px 0;
}
.post h4{
    padding-top: 25px;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: 'Andika New Basic', sans-serif;
    color: 	rgb(79, 79, 79);

}
.post p{
    font-family: 'Andika New Basic', sans-serif;
    line-height: 25px;
    font-size: 15px;
    padding-bottom: 12%;
    color: 	rgb(79, 79, 79);

}
