*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index CSS */
.header{
    top: 0;
}

.navigimi{
    height: 45px;
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    height: 50px;
    border: none;
    border-bottom:1px solid rgb(199, 199, 199);
}

.navigimi a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}
.navigimi  :hover{
    font-size: 18px;
    transition: 0.4s;
    color: rgb(128, 94, 0);

}

.firstphoto img{
    margin-top: 3%;
    width: 100%;
}
.features{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.features p{
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
}
.features img{
    width: 400px;
    height: 450px;
}
.features li{
    list-style: none;
    padding-top: 15px;
}
.features ul{
    
    padding-top: 40px;
    font-family: 'Assistant', sans-serif;
    padding-right: 50px;
    margin-left: 3%;
}
.features ul a{
    text-decoration: none;
    background-color: rgb(3, 142, 255);
    color: white;
    padding: 3px 15px;

}
.features li a:hover{
    color: rgb(3, 142, 255);
    background-color: white;
    border: 1px solid rgb(3, 142, 255);
    ;
}
.goodbyetxt p{
    text-align: center;
    font-size: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: 'Dancing Script', cursive;
}
.sponzorat img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
}
.upper{
    background-color:rgb(163, 163, 163);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.footer ul{
    list-style: none;
    text-align: left;
    color: white;
    padding: 35px 40px;
    font-family: 'Assistant', sans-serif;

}
.footer li{
    padding-top: 5px;
}
.footer li a{
    background-color: white;
    padding: 2px 15px;
    color: black;

}
.footer li a:hover{
    
    background-color: rgb(3, 142, 255);
    color: white;

}

.right a{
    text-decoration: none;
}
.down{
    background-color:rgb(48, 48, 48);
    color: white;
    padding: 25px 30px;
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* about us CSS */

#aboutustxt{
    padding-top: 5%;
    font-family: 'Assistant', sans-serif;
    width: 70%;
    align-items: center;
    margin: auto;
    font-size: 20px;
    line-height: 48px;
}
#aboutustxt h2{
    padding-bottom: 22px;
    font-size: 35px;
    text-align: center;
}
#aboutustxt p{
    font-size: 18px;
}




/* contact us CSS */

.contact{
    display: block;
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
    height: 75%;


}
.contactus{
    height: 75%;

}
.contactus h1{
    font-family: 'Assistant', sans-serif;
    padding-top: 5%;
    text-align: center;
    font-size: 35px;


}
.contactus p{
    font-family: 'Assistant', sans-serif;
    text-align: center;
    padding-bottom: 22px;

}
#contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 50%;
    cursor: pointer;
}
#contactform input{
    width: 100%;
    padding: 10px 15px;
    font-family: 'Assistant', sans-serif;
  
}
#textarea{
    width: 100%;
    padding: 10px 15px;
    margin-top: 5%;
    font-family: 'Assistant', sans-serif;
}
.feedbackbtn{
    
    padding: 10px 15px;
    background-color: rgb(3, 142, 255);
    color: white;
    margin-top: 3%;
    font-family: 'Assistant', sans-serif;
    border: none;
    margin-left:35% ;

}    
.feedbackbtn:hover{
    background-color:white;
    border: 1px solid rgb(3, 142, 255);
    color:  rgb(3, 142, 255);
}
.writeback{
    text-align: center;
    margin-top: 2%;
    font-family: 'Assistant', sans-serif;
    color: rgb(163, 163, 163);

}

/* login CSS */

#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    cursor: pointer;
}
.login1{
    height: 75%;

}
.login1 h1{
    font-family: 'Assistant', sans-serif;
    padding-top: 5%;
    text-align: center;
    font-size: 35px;


}
.login1 p{
    font-family: 'Assistant', sans-serif;
    text-align: center;
    padding-bottom: 22px;
}
.login{
    display: block;
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
    height: 75%;
    width: 25%;
}
.login input{

width: 100%;
padding: 10px 15px;
font-family: 'Assistant', sans-serif;
margin-bottom: 5%;

}
.loginbtn{
    
    padding: 10px 15px;
    background-color: rgb(3, 142, 255);
    color: white;
    margin-top: 3%;
    font-family: 'Assistant', sans-serif;
    border: none;
    margin-left: 45%;
}    
.loginbtn:hover{
    background-color:white;
    border: 1px solid rgb(3, 142, 255);
    color:  rgb(3, 142, 255);
}

/* register CSS */
#createaccform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    cursor: pointer;
}
.createaccount{
    height: 75%;

}
.createaccount h1{
    font-family: 'Assistant', sans-serif;
    padding-top: 20%;
    text-align: center;
    font-size: 35px;


}
.createaccount p{
    font-family: 'Assistant', sans-serif;
    text-align: center;
    padding-bottom: 22px;
}
.createacc{
    display: block;
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
    height: 75%;
    width: 25%;
}
.createacc input{

width: 100%;
padding: 10px 15px;
font-family: 'Assistant', sans-serif;
margin-bottom: 5%;

}
.registerbtn{
    
    padding: 10px 15px;
    background-color: rgb(3, 142, 255);
    color: white;
    margin-top: 3%;
    font-family: 'Assistant', sans-serif;
    border: none;
    margin-left: 42%;
}    
.registerbtn:hover{
    background-color:white;
    border: 1px solid rgb(3, 142, 255);
    color:  rgb(3, 142, 255);
}
/* purchase CSS */


.slider img{
    float: right;
    }
    .slider{
    width: 50%;
    float: left;
    height: 480px;
    padding: 8px;
    
    
    
    }
    .buysection{
    width: 50%;
    float: left;
    height: 480px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    
    
    }
    .buysection p{
        float: left;
        text-align: left;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .purchase{
    text-align: center;
    padding-top: 5%;
    display: block;
    padding-bottom: 6%;

    }
    .plug{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .emitting{
       padding-top: 25px;
        text-align: left;
        font-size: 15px;
    
    }
    .quantity{
        padding-top: 20px;
        text-align: left;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    #plugt{
        border: none;
        border-bottom: 1px solid black;
        padding: 5px 10px;
        width: 40%;
    }
    #vlera{
        padding: 5px 10px;
        padding: 5px 10px;
        width: 55px;
        border: none;
        border-bottom: 1px solid black;
    }
    .buypurchase{
        width: 54%;
        text-align: center;
        background-color: #07b5f5;
        padding: 5px 10px;
        margin-top: 1.5%;
    
    }
    .buypurchase a{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
    }
    .trustbadge{
        padding-top: 10px;
    }
    .trustbadge img{
        float: left;
    
    }
    .txtproduct p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        padding-top: 5px;
    }
    
  
    /* Responsivity Iphone 8+ */


    /*Header Responsivity */

    @media only screen
     and (device-width: 414px)
     and (device-height:736px)
     and (-webkit-device-pixel-ratio :3)
     {

.headeri a{
    font-size: 14px;
    text-align: center;
    align-items: stretch;
    padding: 55px 25px;  
}
.navigimi  {
    display: block;
    text-align: center;
}
.navigimi a {
   padding-top: 5%;
   
}
.header {
    height: 50px;

}
.headeri{
    
}
}

    /*Footer Responsivity */


    @media only screen
    and (device-width: 414px)
    and (device-height:736px)
    and (-webkit-device-pixel-ratio :3)
    {
.footer{
    font-size: 12px;
}
.right{
padding-right: -8%;
}
.down{
    font-size: 9px;
}
}


    /* Index Responsivity Iphone 8+ */
 
   
    @media only screen
    and (device-width: 414px)
    and (device-height:736px)
    and (-webkit-device-pixel-ratio :3)
    {

    .firstphoto img{
    width: 100%;
    height: 160px;
    margin-top: -2%;
    padding: none;

   }
   .features{
    padding-top:-5%;
    width: 75%;
   }
    .features li{
        font-size: 13px;

    }
    .features ul{
        padding: none;

    }
    .features p{
        font-size: 15px;
    }
    .features img{
        width: 120px;
        height: 120px;
        margin: auto;
    }
    .goodbyetxt p {
        font-size: 22px;
    }
    .sponzorat img {
        width: 80%;
    }
    }

    /* About us Responsivity Iphone 8+ */
 
   
    @media only screen
    and (device-width: 414px)
    and (device-height:736px)
    and (-webkit-device-pixel-ratio :3)
    {
   main{
    padding-top: 55px;
   }
#aboutustxt p{
 font-size: 14px;
}
#aboutustxt h2{
 font-size: 25px;
}

}


    /* Contact us Responsivity Iphone 8+ */

    @media only screen
    and (device-width: 414px)
    and (device-height:736px)
    and (-webkit-device-pixel-ratio :3)
    {
    .contactus p{
        font-size: 14px;
       }
       .contactus h1{
        font-size: 25px;
       }
    .writeback p{
        padding-top: 35px;
        font-size: 13px;
    }
    .feedbackbtn{
        margin-left: 32%;
    }
 }

     /* Login Responsivity Iphone 8+ */

     @media only screen
     and (device-width: 414px)
     and (device-height:736px)
     and (-webkit-device-pixel-ratio :3)
     {
    .login1 p{
        font-size: 14px;
     }
    .login1 h1{
        font-size: 25px;
    }
    .login {
        margin: auto;
        width: 86%;
    }
    .login input{

        margin: auto;
       display: block;
    }
    .login button {
    margin: auto;
    margin-left: 40%;

    }
     }

     /* Sign up Responsivity Iphone 8+ */

     @media only screen
     and (device-width: 414px)
     and (device-height: 736px)
     and (-webkit-device-pixel-ratio :3)
     {
    .createacc p{
        font-size: 14px;
     }
    .createacc h1{
        font-size: 25px;

    }
    .createaccount{
        margin-top: -12%;

    }
    .createacc {
        margin: auto;
        width: 86%;
    }
    .createacc input{

        margin: auto;
       display: block;
    }
    .createacc button {
    margin: auto;
    margin-left: 38%;

    }
     }  


     /* Purchase Responsivity Iphone 8+ */


     @media only screen
     and (min-width: 414px)
     and (min-height:736px)
     and (-webkit-device-pixel-ratio :3)
     {
     
        .purchase{
            display: flex;
            flex-direction: column;
            margin-bottom: -55%;
        }
        .slider {
            margin: auto;
            text-align: center;
            margin-left: 37%;

    }
        .slider img{
            width: 300px;
            height: 300px;
            margin-top: 5%;

        }
        .buysection p{
            text-align: center;
            margin:auto;
        }
        .buysection{
            margin: auto;
            margin-top: -30%;
        }
        .plug{
            width: 120%;
        }
        .quantity{
            margin: auto;
            padding-bottom: 25px;
            
        }
        .buypurchase{
            margin: auto;
            margin-bottom: 25px;
        }
        .trustbadge img{
            margin: auto;
            width: 100%;
        }
        .txtproduct p{
            font-size: 15px;
        }
 
     }

          /* header Responsivity IPAD */

          @media only screen
          and (min-width: 768px)
          and (min-height:1024px){

            .navigimi a{
                font-size: 16px;
                padding: 25px 25px;
            }
          }
          /* index Responsivity IPAD */

          @media only screen
          and (min-width: 768px)
          and (min-height:1024px){
          .features img{
              width: 150px;
              height: 150px;
          }
            .features ul{
                display: flex;
                flex-direction: column;
            }
            .features li{
                font-size: 12px;
            }
            .features li p{
                font-size: 12px;
            }
            .goodbyetxt p {
                font-size: 23px;
            }
        }

                  /* about us Responsivity IPAD */

         @media only screen
         and (min-width: 768px)
         and (min-height:1024px){
        
        .aboutustxt h2{

            margin-top: 8%;
            font-size: 20px;
        }
                    
                }

          /* contact us Responsivity IPAD */

        @media only screen
        and (min-width: 768px)
        and (min-height:1024px){
                     
       .contactus h1{
             
        padding-top: 12%;
        }
                        
        }
      /* login Responsivity IPAD */
        @media only screen
        and (min-width: 768px)
        and (min-height:1024px){
                           
        .login1 h1{
                   
        padding-top: 12%;
         }
        .loginbtn{
            margin-left: 35%;
        }
                
    }



      /* SignUp Responsivity IPAD */
      @media only screen
      and (min-width: 768px)
      and (min-height:1024px){
                         
      .createacc h1{
                 
      padding-top: 52%;
       }
      .registerbtn{
          margin-left:29%;
      }
                            
       }

    
      /* Purchase Responsivity IPAD */
      @media only screen
      and (min-width: 768px)
      and (min-height:1024px){
                         
      
        .purchase{
            display: flex;
            flex-direction: column;
            margin-bottom: -40%;
            padding-top: 8%;
        }
        .slider {
            margin: auto;
            text-align: center;
            margin-left: 20%;
            margin-bottom: 15%;

    }
        .slider img{
            width: 300px;
            height: 300px;
            margin-top: 5%;

        }
        .buysection p{
            text-align: center;
            margin:auto;
        }
        .buysection{
            margin: auto;
            margin-top: -30%;
        }
        .plug{
            width: 120%;
        }
        .quantity{
            margin: auto;
            padding-bottom: 25px;
            
        }
        .buypurchase{
            margin: auto;
            margin-bottom: 25px;
        }
        .trustbadge img{
            margin: auto;
            width: 100%;
        }
        .txtproduct p{
            font-size: 15px;
        }
 
     }

           /*DASHBOARD */
.text1{
    text-align: center;
    font-family: 'Assistant', sans-serif;

    font-size: 50px;
}
